// web/app/themes/localdy/static/scss/utils/_colors.scss


$black: #000;
$white: #FFF;
$offwhite: #f8f8f8;

$blue: #265088;
$blue-light: #E6EAF2;
$ultra-marine: #002B52;

$yellow: #FFE500;
$green: #13A538;
