@font-face {
    font-family: "Rhetoric";
    src: url('/app/themes/bjorg/static/fonts/Rhetoric/Rhetoric-Medium.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Rhetoric";
    src: url('/app/themes/bjorg/static/fonts/Rhetoric/Rhetoric-Ultra.otf') format('opentype');
    font-weight: 900;
    font-style: bolder;
}


@font-face {
    font-family: "Dazzed";
    src: url('/app/themes/bjorg/static/fonts/Dazzed/DazzedTRIAL-Medium.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Dazzed";
    src: url('/app/themes/bjorg/static/fonts/Dazzed/DazzedTRIAL-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: "Dazzed";
    src: url('/app/themes/bjorg/static/fonts/Dazzed/DazzedTRIAL-Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: bolder;
}

@font-face {
    font-family: "BjorgAlive";
    src: url('/app/themes/bjorg/static/fonts/BjorgAlive/Bjorgalive-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: bolder;
}

