@use "colors";
@use 'variables';

// web/app/themes/localdy/static/scss/utils/_mixins.scss

// RESPONSIVE
@mixin mobile {
    @media (min-width: #{variables.$mobile-width}) and (max-width: #{variables.$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{variables.$desktop-width}) {
        @content;
    }
}

// FONTS
@mixin heading-1 {
    color: colors.$black;

    // Font - Rubik
    // <weight>: Use a value from 300 to 900
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 5rem;
    font-weight: 900;
    font-style: normal;

    @include mobile {
        font-size: 4rem;
    }
}

@mixin heading-2 {
    color: colors.$black;

    // Font - Rubik
    // <weight>: Use a value from 300 to 900
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 3.5rem;
    font-weight: 800;
    font-style: normal;
}

@mixin heading-3 {
    color: colors.$black;

    // Font - Rubik
    // <weight>: Use a value from 300 to 900
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 3rem;
    font-weight: 700;
    font-style: normal;
}

@mixin body-1 {
    color: colors.$black;

    // Font - Rubik
    // <weight>: Use a value from 300 to 900
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
}


// CTA
@mixin contact-cta {
    a {
        color: colors.$black;

        text-decoration: none;

        padding: 1.5rem 2.5rem;
        border: unset;
        border-radius: 1.5rem;
        z-index: 1;
        background: colors.$white;
        position: relative;
        font-weight: 1000;
        -webkit-box-shadow: .4rem .8rem 1.9rem -.3rem colors.$black-shadow;
        box-shadow: .4rem .8rem 1.9rem -.3rem colors.$black-shadow;
        transition: all 250ms;
        overflow: hidden;
    }

    a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        border-radius: 1.5rem;
        background-color: colors.$black;
        z-index: -1;
        -webkit-box-shadow: .4rem .8rem 1.9rem -.3rem colors.$black-shadow;
        box-shadow: .4rem .8rem 1.9rem -.3rem colors.$black-shadow;
        transition: all 250ms
    }

    a:hover {
        color: colors.$white;
    }

    a:hover::before {
        width: 100%;
    }

    @include mobile {
        margin-top: 45rem;
    }
}

@mixin form-btn {
    & {
        color: colors.$black;

        text-decoration: none;

        padding: 1.5rem 2.5rem;
        border: unset;
        border-radius: 1.5rem;
        z-index: 1;
        background: colors.$white;
        position: relative;
        -webkit-box-shadow: .4rem .8rem 1.9rem -.3rem colors.$black-shadow;
        box-shadow: .4rem .8rem 1.9rem -.3rem colors.$black-shadow;
        transition: all 250ms;
        overflow: hidden;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        border-radius: 1.5rem;
        background-color: colors.$black;
        z-index: -1;
        -webkit-box-shadow: .4rem .8rem 1.9rem -.3rem colors.$black-shadow;
        box-shadow: .4rem .8rem 1.9rem -.3rem colors.$black-shadow;
        transition: all 250ms
    }

    &:hover {
        color: colors.$white;
    }

    &:hover::before {
        width: 100%;
    }

    @include mobile {
        margin-top: 45rem;
    }
}

// LINK
@mixin header-links {
    // Le lien
    .header__link--underline {
        @include body-1;
        font-size: 1.2rem;

        position: relative;
        display: inline-flex;

        text-decoration: none;

        // Important : underline utilise currentColor
        color: colors.$white;

        text-shadow: 0rem .2rem 1rem colors.$black-shadow;

        // évite les zones de hover trop serrées
        padding: 0.2rem 0;
    }

    // Le texte (support de l'underline)
    .header__link__text {
        position: relative;
        display: inline-block;

        text-transform: uppercase;
        letter-spacing: 0.12em;

        padding-bottom: 0.5rem;
    }

    // underline animé
    .header__link__text::after {
        content: "";
        position: absolute;

        left: 0;
        bottom: 0;

        width: 100%;
        height: .2rem;

        background: currentColor;

        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    // hover
    .header__link--underline:hover .header__link__text::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    // focus clavier (propre)
    .header__link--underline:focus-visible {
        outline: .2rem solid currentColor;
        outline-offset: .6rem;
        border-radius: 0.4rem;
    }
}
