@use "colors";
@use 'variables';

// web/app/themes/localdy/static/scss/utils/_mixins.scss

// RESPONSIVE
@mixin mobile {
    @media (min-width: #{variables.$mobile-width}) and (max-width: #{variables.$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{variables.$desktop-width}) {
        @content;
    }
}

// FONTS
@mixin heading-1 {
    color: colors.$black;

    // Font - Rubik
    // <weight>: Use a value from 300 to 900
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 5rem;
    font-weight: 900;
    font-style: normal;

    @include mobile {
        font-size: 4rem;
    }
}

@mixin heading-2 {
    color: colors.$black;

    // Font - Rubik
    // <weight>: Use a value from 300 to 900
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 3.5rem;
    font-weight: 800;
    font-style: normal;
}

@mixin heading-3 {
    color: colors.$black;

    // Font - Rubik
    // <weight>: Use a value from 300 to 900
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 3rem;
    font-weight: 700;
    font-style: normal;
}

@mixin body-1 {
    color: colors.$black;

    // Font - Rubik
    // <weight>: Use a value from 300 to 900
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
}


// CTA
@mixin contact-cta {
    a {
        color: colors.$black;

        text-decoration: none;

        padding: 1.5rem 2.5rem;
        border: .2rem solid colors.$black;
        border-radius: 1.5rem;
        z-index: 1;
        background: colors.$white;
        position: relative;
        font-weight: 1000;
        -webkit-box-shadow: .4rem .8rem 1.9rem -.3rem colors.$black-shadow;
        box-shadow: .4rem .8rem 1.9rem -.3rem colors.$black-shadow;
        transition: all 250ms;
        overflow: hidden;
    }

    a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        border-radius: 1.5rem;
        background-color: colors.$black;
        z-index: -1;
        -webkit-box-shadow: .4rem .8rem 1.9rem -.3rem colors.$black-shadow;
        box-shadow: .4rem .8rem 1.9rem -.3rem colors.$black-shadow;
        transition: all 250ms
    }

    a:hover {
        color: colors.$white;
        border-color: colors.$white;
        transition: all 250ms
    }

    a:hover::before {
        width: 100%;
    }

    @include mobile {
        margin-top: 45rem;
    }
}

@mixin form-btn {
    & {
        color: colors.$black;

        text-decoration: none;

        padding: 1.5rem 2.5rem;
        border: unset;
        border-radius: 1.5rem;
        z-index: 1;
        background: colors.$white;
        position: relative;
        -webkit-box-shadow: .4rem .8rem 1.9rem -.3rem colors.$black-shadow;
        box-shadow: .4rem .8rem 1.9rem -.3rem colors.$black-shadow;
        transition: all 250ms;
        overflow: hidden;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        border-radius: 1.5rem;
        background-color: colors.$black;
        z-index: -1;
        -webkit-box-shadow: .4rem .8rem 1.9rem -.3rem colors.$black-shadow;
        box-shadow: .4rem .8rem 1.9rem -.3rem colors.$black-shadow;
        transition: all 250ms
    }

    &:hover {
        color: colors.$white;
    }

    &:hover::before {
        width: 100%;
    }

    @include mobile {
        margin-top: 45rem;
    }
}

// LINK
@mixin header-links {
    // <a class="header__btn">
    .header__btn {
        // Variables Uiverse
        --button_radius: 0.75em;
        --button_color: #{colors.$white};
        --button_outline_color: #{colors.$black};

        @include body-1;
        font-size: 1rem;
        font-weight: 500;

        display: inline-flex;
        align-items: center;
        white-space: nowrap;

        text-decoration: none;

        border: none;
        cursor: pointer;

        border-radius: var(--button_radius);
        background: var(--button_outline_color);

        // IMPORTANT : pour le <a>
        padding: 0;

        // (optionnel) évite un focus moche sur certains navigateurs
        outline: none;
    }

    // <span class="header__btn__top">
    .header__btn__top {
        display: block;
        box-sizing: border-box;

        border: .2rem solid var(--button_outline_color);
        border-radius: var(--button_radius);

        padding: .9em 1.2em;

        background: var(--button_color);
        color: var(--button_outline_color);

        transform: translateY(-0.2em);
        transition: transform 0.1s ease;
    }

    .header__btn:hover .header__btn__top {
        transform: translateY(-0.33em);
    }

    .header__btn:active .header__btn__top {
        transform: translateY(0);
    }

    // Focus clavier propre (accessibilité)
    .header__btn:focus-visible {
        outline: .2rem solid #{colors.$black};
        outline-offset: 6px;
        border-radius: 1rem;
    }
}
