// web/app/themes/localdy/static/scss/utils/_variables.scss

@use 'colors';
@forward 'colors'; // ← rend $blue, $green… accessibles via variables.$*
/* ... tes variables existantes ... */

// RESPONSIVE
$mobile-width: 320px;
$desktop-width: 1024px;

$mobile-mockup-width: 375;
$desktop-mockup-width: 1024;
