// web/app/themes/localdy/views/pages/homepage.scss

@use '../../static/scss/utils/variables';
@use '../../static/scss/utils/mixins';

.homepage {
    display: flex;
    flex-direction: column;

    height: auto;
    width: 100%;
    // margin: 5rem 0rem;

    &__header {
        display: flex;
        flex-direction: column;

        height: 100vh;

        justify-content: center;
        align-items: center;
        position: relative;

        &__title {
            display: flex;
            position: absolute;
            z-index: 100;

            h1 {
                color: red;
            }
        }

        &__img {
            display: flex;
            height: 100vh;
            width: 100%;

            position: absolute;
            z-index: 5;
            top: 0rem;
            left: 0rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
            }
        }
    }

    &__presentation {
        display: flex;
        flex-direction: column;

        align-items: center;

        width: 100%;
        height: auto;
        margin-top: 2rem;
    }

    &__location {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        margin-top: 2rem;

        &__map {
            background-color: antiquewhite;
            width: 50rem;
            height: 40rem;
        }
    }

    &__contact {
        display: flex;

        width: 100%;
        justify-content: center;
        margin-top: 2rem;

        &__form {
            display: flex;
            flex-direction: column;

            width: 30rem;
            height: 40rem;
            background-color: aquamarine;
        }
    }
}
