// web/app/themes/localdy/views/pages/homepage.scss

@use '../../static/scss/utils/variables';
@use '../../static/scss/utils/mixins';

.homepage {
    display: flex;
    flex-direction: column;

    height: auto;
    width: 100%;

    &__header {
        display: flex;
        flex-direction: column;

        height: 100vh;

        justify-content: center;
        align-items: center;
        position: relative;

        &__title {
            display: flex;
            position: absolute;
            z-index: 100;

            text-align: center;
            height: auto;
            width: 60rem;

            @include mixins.mobile {
                width: 100%;
            }

            h1 {
                color: white;

                // Font
                font-family: "Quicksand", sans-serif;
                font-size: 5rem;
                // Font

                // Deseign
                text-shadow: 0rem .2rem 1rem rgba(0,0,0,0.5);
            }
        }

        &__img {
            display: flex;
            height: 100vh;
            width: 100%;

            position: absolute;
            z-index: 5;
            top: 0rem;
            left: 0rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
            }
        }
    }

    &__presentation {
        display: flex;
        flex-direction: column;

        align-items: center;

        width: 100%;
        height: auto;

        margin-top: 4rem;

        &__content {
            display: flex;
            flex-direction: column;
            text-align: center;

            width: 50rem;

            @include mixins.mobile {
                width: 100%;
                padding: 0rem 1rem;
            }
        }
    }

    &__location {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        margin-top: 6rem;

        &__map {
            width: 50rem;
            overflow: hidden;
            border-radius: 1rem;

            @include mixins.mobile {
                width: 100%;
                padding: 0rem 1rem;
            }
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        margin-top: 6rem;

        &__homepage__contact__title {
            display: flex;
            text-align: center;

            h2 {
                font-size: 2rem;
            }
        }

        &__form {
            display: flex;
            flex-direction: column;

            width: 30rem;
            height: auto;

            .wpforms-container, .wpforms-container-full, .wpforms-render-modern {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
        }
    }
}
