// web/app/themes/localdy/views/pages/homepage.scss

@use '../../static/scss/utils/variables';
@use '../../static/scss/utils/mixins';

.homepage {
    display: flex;
    flex-direction: column;

    margin: 5rem 0rem;

    height: 50rem;
    background-color: aqua;
    width: 100%;
}
