/* ... tes variables existantes ... */
html {
  box-sizing: border-box;
  /* Hide scrollbar for Chrome, Safari and Opera */
}
html::-webkit-scrollbar {
  display: none;
}
html {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
}

.header {
  display: none;
  align-items: center;
  margin: 2rem 0rem;
}
.header__container {
  display: none;
  justify-content: space-between;
  width: 100%;
  margin: 2rem 10rem;
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 100;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0rem;
  color: red;
}

.homepage {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.homepage__header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}
.homepage__header__title {
  display: flex;
  position: absolute;
  z-index: 100;
  text-align: center;
  height: auto;
  width: 60rem;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .homepage__header__title {
    width: 100%;
  }
}
.homepage__header__title h1 {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 5rem;
  text-shadow: 0rem 0.2rem 1rem rgba(0, 0, 0, 0.5);
}
.homepage__header__img {
  display: flex;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 5;
  top: 0rem;
  left: 0rem;
}
.homepage__header__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.homepage__presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 4rem;
}
.homepage__presentation__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50rem;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .homepage__presentation__content {
    width: 100%;
    padding: 0rem 1rem;
  }
}
.homepage__location {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 6rem;
}
.homepage__location__map {
  width: 50rem;
  overflow: hidden;
  border-radius: 1rem;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .homepage__location__map {
    width: 100%;
    padding: 0rem 1rem;
  }
}
.homepage__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 6rem;
}
.homepage__contact__homepage__contact__title {
  display: flex;
  text-align: center;
}
.homepage__contact__homepage__contact__title h2 {
  font-size: 2rem;
}
.homepage__contact__form {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: auto;
}
.homepage__contact__form .wpforms-container, .homepage__contact__form .wpforms-container-full, .homepage__contact__form .wpforms-render-modern {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 1023px) {
  /* css mobile */
}
html {
  font-size: 0.9765625vw;
  font-size: calc(0.9765625vw - var(0px) / 102.4);
  overflow-x: hidden;
  width: 100vw;
  margin: 0 !important;
}
html.overflow-hidden {
  height: 100dvh;
  overflow-y: hidden;
  touch-action: none;
  -ms-touch-action: none;
}
@media (min-width: 320px) and (max-width: 1023px) {
  html {
    font-size: 2.6666666667vw;
    font-size: calc(2.6666666667vw - var(0px) / 37.5);
  }
}

body {
  margin: 0px;
  padding: 0;
  position: relative;
  transition: all 0.3s ease;
  overflow-x: hidden;
  width: 100vw;
}
body.modal--open {
  height: 100dvh;
  overflow: hidden;
}

.bjorg_checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1.2rem !important;
  height: 1.2rem !important;
  border-radius: 0.2rem !important;
  border: 0.15rem solid #265088 !important;
  transition: all 0.3s ease;
}
.bjorg_checkbox:checked {
  background-color: #265088 !important;
}
.bjorg_checkbox:checked::after {
  opacity: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/utils/_variables.scss%22,%22../scss/utils/_reset.scss%22,%22../../views/layouts/base.scss%22,%22../../views/pages/homepage.scss%22,%22../scss/utils/_mixins.scss%22,%22../scss/app.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAIA;ACDA;EACI;AACA;;AACA;EACI;;AAJR;AAOI;EACA;EACA;;;AAGJ;EACI;;;AAIJ;EACI;EACA;;;AAGJ;EACI;EACA;;;ACtBJ;EAEI;EACA;EACA;;AAEA;EAEI;EACA;EACA;EAEA;EAEA;EACA;EACA;EACA;;;AAKR;EACI;EACA;EAEA;EACA;EACA;;;AC5BJ;EACI;EACA;EAEA;EACA;;AAEA;EACI;EACA;EAEA;EAEA;EACA;EACA;;AAEA;EACI;EACA;EACA;EAEA;EACA;EACA;;ACtBR;EDeI;IAUQ;;;AAGJ;EACI;EAGA;EACA;EAIA;;AAIR;EACI;EACA;EACA;EAEA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;;AAKZ;EACI;EACA;EAEA;EAEA;EACA;EAEA;;AAEA;EACI;EACA;EACA;EAEA;;AC5ER;EDuEI;IAQQ;IACA;;;AAKZ;EACI;EACA;EACA;EAEA;EACA;;AAEA;EACI;EACA;EACA;;AChGR;ED6FI;IAMQ;IACA;;;AAKZ;EACI;EACA;EACA;EAEA;EACA;;AAEA;EACI;EACA;;AAEA;EACI;;AAIR;EACI;EACA;EAEA;EACA;;AAEA;EACI;EACA;EACA;EACA;;;ACrIZ;ACUF;;AAIF;EACI;EACA;EACA;EACA;EAEA;;AAEA;EACI;EACA;EACA;EACA;;AD1BJ;ECcJ;IAgBQ;IACA;;;;AAIR;EACI;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;;;AASR;EACI;EACA;EACA;EAEA;EACA;EACA;EACA;EAEA;;AAEA;EACI;;AAGJ;EACI;;;AAKR;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA%22,%22file%22:%22app.css%22%7D */
