// web/app/themes/localdy/views/layouts/base.scss

@use '../../static/scss/utils/variables';
@use '../../static/scss/utils/mixins';

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;

    &__container {
            display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 2rem 8rem;

    background: none;
    }
}

.footer {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin: 2rem 0rem;
    color: red;
}
