// web/app/themes/localdy/views/layouts/base.scss

@use '../../static/scss/utils/variables';
@use '../../static/scss/utils/mixins';
@use '../../static/scss/utils/_colors.scss';

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;

    transition: color 0.3s ease;

    &--light {
        color: colors.$white;
    }

    &--dark {
        color: colors.$black;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        padding: 2rem 4rem;

        background: none;

        // TO DO - Test - a modifier + ACF

        @include mixins.header-links;
    }
}

.footer {
    @include mixins.body-1;
    display: flex;
    flex-direction: column;

    align-items: center;
    margin: 2rem 0rem;
    color: colors.$black;

    background-color: colors.$white;
}
