@use '../../static/scss/utils/variables';

// J'aimerai modificer cette adresse avec le '@use'
@use '../../static/scss/utils/mixins';

// Voici l'adresse actuelle de mes mixins
// web/app/themes/localdy/static/scss/utils/_mixins.scss

// Voici l'adresse ou je suis
// web/app/themes/localdy/views/layouts/base.scss

// Explique moi ta façon de préocéder


.header {
    margin-top: 5rem;
    
    &__container {
        margin-top: 10rem;
        padding-top: 50px;
        @include mixins.container-test;

        p {
            color: variables.$green;
        }

        color: red;

    }
}

.footer {

}
