@use '../../static/scss/utils/variables';

// J'aimerai modificer cette adresse avec le '@use'
@use '../../static/scss/utils/mixins';


.header {
    display: flex;
    align-items: center;
    margin: 2rem 0rem;

    &__container {
        display: flex;
        justify-content: space-between;
        width: 100%;

        margin: 0rem 10rem;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    color: green;
}
