@use '../../static/scss/utils/variables';

// J'aimerai modificer cette adresse avec le '@use'
@use '../../static/scss/utils/mixins';


.header {
    display: flex;
    align-items: center;
    margin: 2rem 0rem;

    &__container {
        display: flex;
        justify-content: space-between;
        width: 100%;

        margin: 2rem 10rem;

        position: absolute;
        top: 0rem;
        left: 0rem;
        z-index: 100;

    }
}

.footer {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-bottom: 2rem;
    color: red;
}
