@use '../../static/scss/utils/variables';

// J'aimerai modificer cette adresse avec le '@use'
@use '../../static/scss/utils/mixins';


.header {
    display: flex;
    margin-top: 2rem;

    color: red;
}

.footer {
    display: flex;
    flex-direction: column;
    color: green;
}
