// web/app/themes/localdy/views/layouts/base.scss

@use '../../static/scss/utils/variables';
@use '../../static/scss/utils/mixins';

.header {
    // display: flex;
    display: none;
    align-items: center;
    margin: 2rem 0rem;

    &__container {
            // display: flex;
        display: none;
        justify-content: space-between;
        width: 100%;

        margin: 2rem 10rem;

        position: absolute;
        top: 0rem;
        left: 0rem;
        z-index: 100;

    }
}

.footer {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin: 2rem 0rem;
    color: red;
}
